[Desktop Entry]
Type=Application
Name=Myrlyn (Alatar)
Exec=myrlyn-sudo
Icon=Myrlyn.png
GenericName=Myrlyn Graphical Software Package Manager
Comment=openSUSE package manager with graphical sudo authentication
Terminal=false
Categories=System;Settings;PackageManager;
Keywords=software;package;management;zypper;gui;
