@define-color base {{background}};
@define-color mantle {{background | darken(0.05)}};
@define-color crust {{background | darken(0.1)}};
@define-color text {{foreground}};
@define-color subtext0 {{foreground | darken(0.25)}};
@define-color overlay0 {{color8}};
@define-color surface0 {{background | lighten(0.04)}};
@define-color surface1 {{background | lighten(0.08)}};
@define-color surface2 {{background | lighten(0.12)}};
@define-color lavender {{color13}};
@define-color sapphire {{color12}};
@define-color teal {{color6}};
@define-color peach {{color3}};
@define-color red {{color1}};
@define-color green {{color2}};
@define-color pastel-rose {{color9}};
@define-color pastel-peach {{color11}};
@define-color pastel-mint {{color10}};
@define-color pastel-sky {{color14}};
@define-color pastel-lilac {{color13}};
@define-color pastel-sea {{color6}};
@define-color mauve {{color5}};
@define-color sky-bright {{color14}};
@define-color cream {{color11}};
@define-color emerald {{color2}};
@define-color night1 {{background | darken(0.12)}};
@define-color night2 {{background | darken(0.06)}};
@define-color night3 {{background}};
