* {
  base: #141414;
  mantle: #131313;
  crust: #121212;
  text: #FBFBEF;
  subtext0: #BCBCB3;
  overlay0: #A9A99C;
  surface0: #1D1D1D;
  surface1: #272727;
  surface2: #303030;
  lavender: #DBA487;
  sapphire: #87B7C9;
  peach: #927E8D;
  teal: #B7B79C;
  red: #64788C;
  green: #AE5959;
  night1: #121212;
  night2: #131313;
  night3: #141414;
}
