* {
  base: #1B1A1C;
  mantle: #1A191B;
  crust: #181719;
  text: #E0E9DA;
  subtext0: #A8AFA4;
  overlay0: #8D9788;
  surface0: #242325;
  surface1: #2D2C2E;
  surface2: #363537;
  lavender: #A88C31;
  sapphire: #5D9072;
  peach: #706A62;
  teal: #7C9070;
  red: #4D4B52;
  green: #3B5753;
  night1: #181719;
  night2: #19181A;
  night3: #1B1A1C;
}
