* {
  base: #221F1F;
  mantle: #201D1D;
  crust: #1F1C1C;
  text: #FFF5BB;
  subtext0: #BFB88C;
  overlay0: #ADA269;
  surface0: #2B2828;
  surface1: #343131;
  surface2: #3D3A3A;
  lavender: #FA9A63;
  sapphire: #C17689;
  peach: #8A735D;
  teal: #BFA92E;
  red: #564E49;
  green: #716B7F;
  night1: #1E1B1B;
  night2: #201D1D;
  night3: #221F1F;
}
