themes {
  wallust {
    fg "#FBFBEF"
    bg "#141414"
    black "#3F3F3F"
    red "#64788C"
    green "#AE5959"
    yellow "#927E8D"
    blue "#658997"
    magenta "#A47B65"
    cyan "#B7B79C"
    white "#F1F1DF"
    orange "#927E8D"
  }
}
