themes {
  wallust {
    fg "#FFE7C6"
    bg "#000207"
    black "#000208"
    red "#3A5F69"
    green "#83686B"
    yellow "#787C71"
    blue "#B06653"
    magenta "#60887B"
    cyan "#BF8C45"
    white "#F6D5A5"
    orange "#787C71"
  }
}
