@define-color base #171717;
@define-color mantle #161616;
@define-color crust #151515;
@define-color text #FBE8BA;
@define-color subtext0 #BCAE8C;
@define-color overlay0 #A89568;
@define-color surface0 #202020;
@define-color surface1 #2A2A2A;
@define-color surface2 #333333;
@define-color lavender #959384;
@define-color sapphire #B78447;
@define-color teal #B68D2C;
@define-color peach #7A834F;
@define-color red #58614D;
@define-color green #766C5F;
@define-color pastel-rose #636E54;
@define-color pastel-peach #7D8B39;
@define-color pastel-mint #8A7D6B;
@define-color pastel-sky #F3BC3B;
@define-color pastel-lilac #959384;
@define-color pastel-sea #B68D2C;
@define-color mauve #848379;
@define-color sky-bright #F3BC3B;
@define-color cream #7D8B39;
@define-color emerald #766C5F;
@define-color night1 #141414;
@define-color night2 #161616;
@define-color night3 #171717;
