@define-color base #221F1F;
@define-color mantle #201D1D;
@define-color crust #1F1C1C;
@define-color text #FFF5BB;
@define-color subtext0 #BFB88C;
@define-color overlay0 #ADA269;
@define-color surface0 #2B2828;
@define-color surface1 #343131;
@define-color surface2 #3D3A3A;
@define-color lavender #FA9A63;
@define-color sapphire #C17689;
@define-color teal #BFA92E;
@define-color peach #8A735D;
@define-color red #564E49;
@define-color green #716B7F;
@define-color pastel-rose #5F554F;
@define-color pastel-peach #A5866A;
@define-color pastel-mint #837C97;
@define-color pastel-sky #FFE13D;
@define-color pastel-lilac #FA9A63;
@define-color pastel-sea #BFA92E;
@define-color mauve #BE7B53;
@define-color sky-bright #FFE13D;
@define-color cream #A5866A;
@define-color emerald #716B7F;
@define-color night1 #1E1B1B;
@define-color night2 #201D1D;
@define-color night3 #221F1F;
