@define-color base #141414;
@define-color mantle #131313;
@define-color crust #121212;
@define-color text #FBFBEF;
@define-color subtext0 #BCBCB3;
@define-color overlay0 #A9A99C;
@define-color surface0 #1D1D1D;
@define-color surface1 #272727;
@define-color surface2 #303030;
@define-color lavender #DBA487;
@define-color sapphire #87B7C9;
@define-color teal #B7B79C;
@define-color peach #927E8D;
@define-color red #64788C;
@define-color green #AE5959;
@define-color pastel-rose #6B86A3;
@define-color pastel-peach #987590;
@define-color pastel-mint #D35B5B;
@define-color pastel-sky #F4F4D0;
@define-color pastel-lilac #DBA487;
@define-color pastel-sea #B7B79C;
@define-color mauve #A47B65;
@define-color sky-bright #F4F4D0;
@define-color cream #987590;
@define-color emerald #AE5959;
@define-color night1 #121212;
@define-color night2 #131313;
@define-color night3 #141414;
