@define-color base #0C0E10;
@define-color mantle #0B0D0F;
@define-color crust #0B0D0E;
@define-color text #E7E6EB;
@define-color subtext0 #ADADB0;
@define-color overlay0 #959399;
@define-color surface0 #16181A;
@define-color surface1 #1F2123;
@define-color surface2 #292B2D;
@define-color lavender #85AD7C;
@define-color sapphire #428496;
@define-color teal #8C8995;
@define-color peach #756177;
@define-color red #3E4449;
@define-color green #566853;
@define-color pastel-rose #3F474E;
@define-color pastel-peach #896E8B;
@define-color pastel-mint #5F775B;
@define-color pastel-sky #BBB7C7;
@define-color pastel-lilac #85AD7C;
@define-color pastel-sea #8C8995;
@define-color mauve #6C8865;
@define-color sky-bright #BBB7C7;
@define-color cream #896E8B;
@define-color emerald #566853;
@define-color night1 #0B0C0E;
@define-color night2 #0B0D0F;
@define-color night3 #0C0E10;
