@define-color base #140000;
@define-color mantle #130000;
@define-color crust #120000;
@define-color text #EBEBCB;
@define-color subtext0 #B0B098;
@define-color overlay0 #999978;
@define-color surface0 #1D0A0A;
@define-color surface1 #271414;
@define-color surface2 #301F1F;
@define-color lavender #FF9A25;
@define-color sapphire #9A8D85;
@define-color teal #949550;
@define-color peach #70745A;
@define-color red #915051;
@define-color green #657077;
@define-color pastel-rose #AE5759;
@define-color pastel-peach #757B54;
@define-color pastel-mint #6C7B86;
@define-color pastel-sky #C6C66A;
@define-color pastel-lilac #FF9A25;
@define-color pastel-sea #949550;
@define-color mauve #BF741C;
@define-color sky-bright #C6C66A;
@define-color cream #757B54;
@define-color emerald #657077;
@define-color night1 #120000;
@define-color night2 #130000;
@define-color night3 #140000;
