@define-color base #1B1A1C;
@define-color mantle #1A191B;
@define-color crust #181719;
@define-color text #E0E9DA;
@define-color subtext0 #A8AFA4;
@define-color overlay0 #8D9788;
@define-color surface0 #242325;
@define-color surface1 #2D2C2E;
@define-color surface2 #363537;
@define-color lavender #A88C31;
@define-color sapphire #5D9072;
@define-color teal #7C9070;
@define-color peach #706A62;
@define-color red #4D4B52;
@define-color green #3B5753;
@define-color pastel-rose #53505A;
@define-color pastel-peach #827A6F;
@define-color pastel-mint #3B605C;
@define-color pastel-sky #A5C096;
@define-color pastel-lilac #A88C31;
@define-color pastel-sea #7C9070;
@define-color mauve #96854D;
@define-color sky-bright #A5C096;
@define-color cream #827A6F;
@define-color emerald #3B5753;
@define-color night1 #181719;
@define-color night2 #19181A;
@define-color night3 #1B1A1C;
