@define-color base #000207;
@define-color mantle #000207;
@define-color crust #000206;
@define-color text #FFE7C6;
@define-color subtext0 #BFAD95;
@define-color overlay0 #AD9574;
@define-color surface0 #0A0C11;
@define-color surface1 #14161B;
@define-color surface2 #1F2025;
@define-color lavender #80B5A4;
@define-color sapphire #E57D62;
@define-color teal #BF8C45;
@define-color peach #787C71;
@define-color red #3A5F69;
@define-color green #83686B;
@define-color pastel-rose #3A6B79;
@define-color pastel-peach #727A68;
@define-color pastel-mint #967075;
@define-color pastel-sky #FFBB5C;
@define-color pastel-lilac #80B5A4;
@define-color pastel-sea #BF8C45;
@define-color mauve #60887B;
@define-color sky-bright #FFBB5C;
@define-color cream #727A68;
@define-color emerald #83686B;
@define-color night1 #000206;
@define-color night2 #000207;
@define-color night3 #000207;
